In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a dataset
data = {
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'Age': [25, 30, 35, 40, 45],
    'Income': [50000, 60000, 65000, 70000, 72000],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'Finance'],
    'Satisfaction': [4, 3, 5, 4, 2]
}
df = pd.DataFrame(data)

# Display the dataset
df.head()

   Gender  Age  Income Department  Satisfaction
0    Male   25   50000         HR             4
1  Female   30   60000    Finance             3
2  Female   35   65000         IT             5
3    Male   40   70000         HR             4
4  Female   45   72000    Finance             2

In [2]:
# Identify categorical and numerical variables
categorical_vars = df.select_dtypes(include='object').columns.tolist()
numerical_vars = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

categorical_vars, numerical_vars

(['Gender', 'Department'], ['Age', 'Income', 'Satisfaction'])

In [3]:
# Create a contingency table between Gender and Department
contingency_table = pd.crosstab(df['Gender'], df['Department'])
contingency_table

Department  Finance  HR  IT
Gender
Female            2   0   1
Male              0   2   0

In [4]:
# Compute statistics for numerical variables
stats = {
    "Mean": df[numerical_vars].mean(),
    "Median": df[numerical_vars].median(),
    "Mode": df[numerical_vars].mode().iloc[0],
    "Variance": df[numerical_vars].var(),
    "Standard Deviation": df[numerical_vars].std(),
    "Quartile Range": df[numerical_vars].quantile(0.75) - df[numerical_vars].quantile(0.25)
}

# Convert to a DataFrame for better display
stats_df = pd.DataFrame(stats)
stats_df

,Mean,Median,Mode,Variance,Standard Deviation,Quartile Range
Age,35.0,35.0,25.0,62.5,7.905694,10.0
Income,63400.0,65000.0,50000.0,77800000.0,8820.430828,10000.0
Satisfaction,3.6,4.0,4.0,1.3,1.140175,1.0

In [5]:
# Categorize the categorical variables into binary, nominal, or ordinal
categorical_types = {
    'Gender': 'Binary',  # Male/Female
    'Department': 'Nominal',  # HR, Finance, IT
    'Satisfaction': 'Ordinal'  # Satisfaction levels are ranked
}
categorical_types

{'Gender': 'Binary', 'Department': 'Nominal', 'Satisfaction': 'Ordinal'}